body {
    font-family: roboto, sans-serif;
    margin: 0px;
    padding: 0px;
}

/*Header section with Logo, Links, Hero, image, and button*/
.header {
    background: #1F2937;
    padding: auto;
}

.logo {
    color: #F9FAf8;
    font-size: 24px;
    padding-right: 450px;
}

ul {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    
}

li {
    display: inline;
    padding-right: 100px;
    text-wrap: none;
    width: 10px;
    border: blue 1px solid;
}

h1 {
    color: #F9FAf8;
    font-size: 48px;
    font-weight: extra-bold;
}

.secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.img {
    background-color: grey;
    padding: 50px;
    max-width: 300px;
    max-height: 150px;
    color: #F9FAf8;
}

button {
    background-color: #3882F6;
    padding: 10px 40px;
    border-radius: 8px;
    color: #F9FAf8;
    font-weight: bold;
    font-size: 20px;
}

.top {
    display: flex;


}