.header, footer {
    background-color: #1F2937;
    color: #F9FAF8;
    border:  rgb(236, 21, 6) solid 5px;
    
}

.header {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    
}

.top{
    display: flex;
    justify-content: flex-end;
    border:  rgb(43, 23, 221) solid 5px;
    max-height: 100px;
   max-width: 1000px;
   width: 100%
}

ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    max-height: 75px;
   max-width: 100%;
    border:  rgb(43, 23, 221) solid 5px;
    }

    
.logo {
   color: #F9FAF8;
   font-size: 24px;
   max-height: 75px;
   max-width: 100%;
   border:  rgb(43, 23, 221) solid 5px;
   }

   .img {
    border:  rgb(250, 171, 2) solid 5px;
    max-width: 500px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .twa {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      padding: 10px;
      margin-top: 150px;
      margin-right: 100px;
      border:  rgb(216, 240, 132) solid 5px;
      width: 400px;
      
  }

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    border:  rgb(43, 23, 221) solid 5px;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    border:  rgb(151, 33, 219) solid 5px;
    margin: 0;
    max-width: fit-content;
}


button, .cta {
    background-color: #3882F6;
    color: white;
    border:  rgb(228, 37, 196) solid 5px;
}

.info{
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    text-align: center;
    border:  rgb(94, 8, 34) solid 5px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-family: sans-serif;
    border:  rgb(5, 23, 39) solid 5px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    border:  rgb(103, 238, 103) solid 5px;
      max-width: 100%;
      padding: 0;
      }

footer {
    padding: 25px;
    text-align: center;
    padding-left: 100%;
    padding-right: 100%;
    border:  rgb(224, 149, 231) solid 5px;
}
.cta {
    margin: 25px 50px;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    border-radius: 10px;
    border:  rgb(154, 127, 230) solid 5px;
}

button {
    border-radius: 5px;
    padding: 3px 15px;
    max-width: 150px;
    border:  rgb(63, 70, 63) solid 5px;
}

.a {
    border-color: #3882F6;
    border:  rgb(59, 40, 29) solid 5px;
}

.b {
    border-color: white;
    border:  rgb(138, 156, 88) solid 5px;
}

.one {
    border: 5px solid #3882F6;
    padding: 50px;
    border-radius: 10px;
    border:  rgb(1, 36, 1) solid 5px;
}

.boxes {
    display: flex;
    flex-direction: column;
    border:  rgb(235, 95, 52) solid 5px;
 }


