body {
    font-family: roboto;
}

/*Header section with Logo, Links, Hero, image, and button*/
.header {
    background: #1F2937;
}

h1 {
    color: #F9FAf8;
    font-size: 48px;
    font-weight: extra-bold;
}

.secondary {

}

